body {
  background: url("https://images5.alphacoders.com/349/thumb-1920-349660.jpg");
  font-family: 'Bitter', serif; }

h1 {
  font-size: 50px; }

.makemusic {
  text-align: center; }

.collapse {
  background-color: black; }

audio {
  width: 100%; }

.well {
  background: black; }

.container .row {
  color: white;
  padding-top: 20px;
  padding-bottom: 20px; }
  .container .row .drake {
    padding-bottom: 20px;
    height: 350px; }
    .container .row .drake .prince {
      width: 180px;
      height: 200px;
      border-radius: 5%;
      border: solid 2px white; }
    .container .row .drake .btn {
      padding-top: 5px;
      vertical-align: top;
      bottom: 0;
      position: absolute;
      margin-bottom: 15px;
      margin-left: -40px; }

.title {
  background: white;
  color: #563D7C;
  height: 200px;
  text-align: center;
  padding-top: 50px; }

.makemusic .row {
  padding-top: 15px; }
  .makemusic .row .subscribe-input {
    width: 50%;
    height: 40px; }
  .makemusic .row .submit {
    height: 40px;
    width: 50px; }
